{% extends 'designer/base.html' %}
{% block content %}
<script type="text/javascript">
     $(document).ready(
        function(){
            edit_height = $('.edit_design1').height()
            $('.empty_design1').height(edit_height);
            edit_height = $('.edit_design2').height()
            $('.empty_design2').height(edit_height);
            edit_height = $('.edit_design3').height()
            $('.empty_design3').height(edit_height);
            edit_height = $('.edit_design4').height()
            $('.empty_design4').height(edit_height);
    });

    function view(divId){
        v = document.getElementById(divId);
        if(v.style.display === 'none') {
            v.style.display = 'block';
        }
        else {
             v.style.display = 'none';
        }

    }
</script>
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><b>{{position.item}} / {{position.material}} / {{position.app_method}}</b></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title" style="cursor:pointer; color:#a4aeb9;" onclick="view('t_task')"><i class="fa fa-caret-right" aria-hidden="true"></i> <b><i>Техническое задание: </b></i></h3>
                                            </div>
                                            <div id="t_task" class="panel-body" style="display: none">
                                                <h3>{{position.design_requirements_new.title}}</h3>
                                                {{position.design_requirements_new.technical_task|safe}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title" style="cursor:pointer; color:#a4aeb9;" onclick="view('t_req')"><i class="fa fa-caret-right" aria-hidden="true"></i> <b><i>Техническое требование:</b></i></h3>
                                            </div>
                                            <div id="t_req" class="panel-body" style="display: none">
                                                <h3>{{position.design_specification_new.title}}</h3>
                                                {{position.design_specification_new.technical_req|safe}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <textarea style="height: auto; width: 100%"></textarea>
                        </div>
                    </div>
                </div>

            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if design_img1.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №1
                                                    </div>
                                                    <form id='in_chat_img1' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img1_to_chat">
                                                        <p class="panel-subtitle" onclick="document.getElementById('in_chat_img1').submit();" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img1.picture%}
                                                            <a href="{{design_img1.picture.url}}"><img src="{{design_img1.picture.url}}" class="img-responsive" style="max-height: 100%"></a>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design1">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel edit_design1">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Загрузка дизайна №1
                                                    </div>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                            {{design1.picture}} <br>
                                                            Одобрено без правок: {{design1.confirm}} <br><br>
                                                            <button type="submit" class="btn btn-primary" name="add_design1">Отправить</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if design_img2.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №2
                                                    </div>
                                                    <form id='in_chat_img2' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img2_to_chat">
                                                        <p class="panel-subtitle" onclick="document.getElementById('in_chat_img2').submit();" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img2.picture%}
                                                            <a href="{{design_img2.picture.url}}"><img src="{{design_img2.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design2">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel edit_design2">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Загрузка дизайна №2
                                                    </div>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                            {{design2.picture}} <br>
                                                            Одобрено без правок: {{design2.confirm}} <br><br>
                                                            <button type="submit" class="btn btn-primary" name="add_design2">Отправить</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if design_img3.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №3
                                                    </div>
                                                    <form id='in_chat_img3' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img3_to_chat">
                                                        <p class="panel-subtitle" onclick="document.getElementById('in_chat_img3').submit();" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img3.picture%}
                                                            <a href="{{design_img3.picture.url}}"><img src="{{design_img3.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design3">
                                                <div class="panel-heading">
                                                    <div class="panel-body"></div>
                                                    <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel edit_design3">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Загрузка дизайна №3
                                                    </div>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                            {{design3.picture}} <br>
                                                            Одобрено без правок: {{design3.confirm}} <br><br>
                                                            <button type="submit" class="btn btn-primary" name="add_design3">Отправить</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            {%if design_img4.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №4
                                                    </div>
                                                    <form id='in_chat_img4' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img4_to_chat">
                                                        <p class="panel-subtitle" onclick="document.getElementById('in_chat_img4').submit();" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img4.picture%}
                                                            <a href="{{design_img4.picture.url}}"><img src="{{design_img4.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design4">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>

                                        <div class="col-md-6">
                                            <div class="panel edit_design4">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Загрузка дизайна №4
                                                    </div>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                            {{design4.picture}} <br>
                                                            Одобрено без правок: {{design4.confirm}} <br><br>
                                                            <button type="submit" class="btn btn-primary" name="add_design4">Отправить</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class='col-md-6'>
                            <div class='row'>
                                <div class="col-md-12">
                                    <div class="panel panel-scrolling">
                                        <div class='panel-heading'>
                                            <h3 class='panel-title'>Комментарии к дизайну:</h3>
                                        </div>
                                        <div class='panel-body'>
                                            {%for comment in comments%}
                                                {%if comment.comment%}
                                                <b>{{comment.user.first_name}}
                                                {{comment.user.last_name}}:</b> <br>
                                                {{comment.comment}} <br>
                                                {%endif%}
                                                {%if comment.design%}
                                                <b>{{comment.user.first_name}}
                                                {{comment.user.last_name}}:</b> <br> <img src="{{comment.design.url}}" width="300"><br>
                                                {%endif%}
                                            {%endfor%} <br>
                                        </div> 
                                        <div class="panel-footer">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <input class="form-control" type="text" name="comment">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="submit" name="add_comment"> > > > </button></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
                <!-- END MAIN CONTENT -->
{% endblock %}