{% extends 'designer/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
						<div class="col-md-8">
							<div class='row'>
								<div class="col-md-12">
							<div class="panel panel-headline">
								<div class="panel-heading">
									<h3 class="panel-title">Заказ № {{order_id.id}}</h3>
								</div>
								<div class="panel-body">
									<div class='text-right'>
									</div> <br>
										<form method="POST">

										{{formset.management_form}}
										{% csrf_token %}
										<div class="table-responsive"> 
											<table class="table table-striped table-bordered table-hover">
												<tr>
													<th>
														№
													</th>
													<th>
														Позиция
													</th>
													<th>
														Метод нанесения
													</th>
													<th>
														Материал
													</th>
													<th>
														Статус
													</th>
													<th>
														Дата готовности
													</th>
													<th>
														Тех. требования
													</th>
													<th>
														Тех. задания
													</th>
													<th>
														Дизайн
													</th>
													<th>
														Производство
													</th>
												</tr>
												{% for i in order%}
												<tr class="text-center" style="cursor: pointer">
													<td style="vertical-align: middle;">
														{{ forloop.counter}}
													</td>
													<td style="vertical-align: middle;">
														{{i.item}}
													</td>
													<td style="vertical-align: middle;">
														{{i.app_method}}
													</td>
													<td style="vertical-align: middle;">
														{{i.material}}
													</td>
													<td style="vertical-align: middle;">
														{{i.production_status}}
													</td>
													{%if design1%}
													<td style="vertical-align: middle;">
														{{i.designer_date}}
													</td>
													<td style="vertical-align: middle;">
														<a href="/designer/technical_requirement/{{i.design_specification.id}}">{{i.design_specification }}</a>
													</td>
													{%else%}
													<td style="vertical-align: middle;">
														{{i.designer.id}}
														{{i.designer.designer_date}}
													</td>
													{%if i.design_specification%}
													<td style="vertical-align: middle;">
														<a href="/designer/technical_requirement/{{i.design_specification.id}}">{{i.design_specification }}</a>
													</td>
													{%else%}
													<td style="vertical-align: middle;">
														
													</td>
													{%endif%}
													{%endif%}
													<td style="vertical-align: middle;">
														{{i.design_requirements_new}}
													</td>
													<td style="vertical-align: middle;">
														<a href="/designer/order/{{order_id.id}}/position/{{i.id}}"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
													</td>
													<td style="vertical-align: middle;">
														<a href="/designer/files/order/{{order_id.id}}/position/{{i.id}}">Загрузить <i class="fa fa-upload" aria-hidden="true"></i></a>
													</td>
												</tr>
												{% endfor %}
											</table>
										</div>
											{%if design1%}
											{%else%}
											<div class="text-right">
											<button type="submit" class="btn btn-primary" name="send_date">Отправить</button>
											</div>
											{%endif%}
											</form>	
											<div class="text-right">
											<b>Мотивация:</b> {{designer_motivation}} руб. (1% от суммы заказа)
											</div>
								</div>
							</div>
							</div>
							</div>
							{%if design1%}
							<div class="row">
								<div class="col-md-12">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title"><b>{{position.item}} - {{position.material}} - {{position.app_method}}</b></h3>
											{%if files%}
										</div>
										<div class="panel-body">
											<h3 class="panel-title">Файлы для производства:</h3> <br>
											{%for file in files%}
											<form method="POST" id="send_delete_{{file.id}}">
												{% csrf_token %}
												<input type="hidden" name="file_id" value="{{file.id}}">
											</form>
											<a href="{{file.file.url}}">{{file.file}}</a> - <a style="color: #ff7979; cursor: pointer;" onclick="document.getElementById('send_delete_{{file.id}}').submit(); return false;">Удалить</a> <br>
											{%endfor%}
											{%endif%}
										</div>
									</div>
								</div>
							</div>
							{%endif%}
							<!-- Сопроводительные документы -->
<!-- 							<div class="row">
								<div class="col-md-12">
									<div class="panel">
										<div class="panel-heading">
											<h3 class="panel-title">Сопроводительные документы:</h3>
										</div>
										<div class="panel-body">
											{%for doc in docs%}
												<b>{{doc.title}}</b><br>
												<a href="{{doc.file.url}}">{{doc.file}}</a> <br>
												<i>{{doc.discription}}</i>
												<hr>
											{%endfor%}
										</div>
										<div class="panel-footer">
											<form method="POST" enctype="multipart/form-data">
												{% csrf_token %}
												{{order_edit.title}} <br>
												{{order_edit.discription}} <br>
												{{order_edit.file}} <br>
													<button type="submit" class="btn btn-primary" name="docs">Отправить</button>
											</form>
										</div>
									</div>
								</div>
							</div> -->
							<!-- Сопроводительные документы -->
						</div>

						<!-- Комментарии к заказу -->
							<div class="col-md-4">
							<div class="panel panel-scrolling">
								<div class="panel-heading">
									<h3 class="panel-title">Комментарии к заказу: </h3>
								</div>
								<div class="panel-body">
									{%for comment in order_comment%}
										<b>{{comment.user.first_name}} {{comment.user.last_name}}:</b> <br> {{comment.comment}} <br>
									{%endfor%}
								</div>
								<div class="panel-footer">
									<form method="POST">
										{% csrf_token %}
										<div class="input-group">
											<input class="form-control" type="text" name="comment"}>
											<span class="input-group-btn">
												<button class="btn btn-primary" type="submit" name="add_order_comment"> > > > </button></span>
										</div>
									</form>
								</div>
							</div>
							</div>
					</div>

				</div>
				<div class="container-fluid">
					{%if design1%}
					<div class="row">
						<div class="col-md-6">

									<div class="row">
										<div class="col-md-6">
											{%if design_img1.picture%}
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Дизайн №1
													</div>
													<form id='in_chat_img1' method="POST">
														{% csrf_token %}
														<input type="hidden" name="img1_to_chat">
														<p class="panel-subtitle" onclick="document.getElementById('in_chat_img1').submit();" style="cursor: pointer;">В чат >></p>
													</form>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															{%if design_img1.picture%}
															<a href="{{design_img1.picture.url}}"><img src="{{design_img1.picture.url}}" class="img-responsive"></a>
															{%endif%}
														</div>
													</div>
												</div>
											</div>
											{%endif%}
										</div>
										<div class="col-md-6">
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Загрузка дизайна №1
													</div>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															<form method="POST" enctype="multipart/form-data">
																{% csrf_token %}
															{{design1.picture}} <br>
															Одобрено без правок: {{design1.confirm}} <br><br>
															<button type="submit" class="btn btn-primary" name="add_design1">Отправить</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>



									<div class="row">
										<div class="col-md-6">
											{%if design_img2.picture%}
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Дизайн №2
													</div>
													<form id='in_chat_img2' method="POST">
														{% csrf_token %}
														<input type="hidden" name="img2_to_chat">
														<p class="panel-subtitle" onclick="document.getElementById('in_chat_img2').submit();" style="cursor: pointer;">В чат >></p>
													</form>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															{%if design_img2.picture%}
															<a href="{{design_img2.picture.url}}"><img src="{{design_img2.picture.url}}" class="img-responsive"></a>
															{%endif%}
														</div>
													</div>
												</div>
											</div>
											{%endif%}
										</div>
										<div class="col-md-6">
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Загрузка дизайна №2
													</div>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															<form method="POST" enctype="multipart/form-data">
																{% csrf_token %}
															{{design2.picture}} <br>
															Одобрено без правок: {{design2.confirm}} <br><br>
															<button type="submit" class="btn btn-primary" name="add_design2">Отправить</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6">
											{%if design_img3.picture%}
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Дизайн №3
													</div>
													<form id='in_chat_img3' method="POST">
														{% csrf_token %}
														<input type="hidden" name="img3_to_chat">
														<p class="panel-subtitle" onclick="document.getElementById('in_chat_img3').submit();" style="cursor: pointer;">В чат >></p>
													</form>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															{%if design_img3.picture%}
															<a href="{{design_img3.picture.url}}"><img src="{{design_img3.picture.url}}" class="img-responsive"></a>
															{%endif%}
														</div>
													</div>
												</div>
											</div>
											{%endif%}
										</div>
										<div class="col-md-6">
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Загрузка дизайна №3
													</div>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															<form method="POST" enctype="multipart/form-data">
																{% csrf_token %}
															{{design3.picture}} <br>
															Одобрено без правок: {{design3.confirm}} <br><br>
															<button type="submit" class="btn btn-primary" name="add_design3">Отправить</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6">
											{%if design_img4.picture%}
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Дизайн №4
													</div>
													<form id='in_chat_img4' method="POST">
														{% csrf_token %}
														<input type="hidden" name="img4_to_chat">
														<p class="panel-subtitle" onclick="document.getElementById('in_chat_img4').submit();" style="cursor: pointer;">В чат >></p>
													</form>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															{%if design_img4.picture%}
															<a href="{{design_img4.picture.url}}"><img src="{{design_img4.picture.url}}" class="img-responsive"></a>
															{%endif%}
														</div>
													</div>
												</div>
											</div>
											{%endif%}
										</div>

										<div class="col-md-6">
											<div class="panel">
												<div class="panel-heading">
													<div class="panel-title">
													Загрузка дизайна №4
													</div>
												</div>
												<div class='panel-body'>
													<div class="row">
														<div class="col-md-12"> 
															<form method="POST" enctype="multipart/form-data">
																{% csrf_token %}
															{{design4.picture}} <br>
															Одобрено без правок: {{design4.confirm}} <br><br>
															<button type="submit" class="btn btn-primary" name="add_design4">Отправить</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
						</div>
						<div class='col-md-6'>
							<div class='row'>
								<div class="col-md-12">
									<div class="panel panel-scrolling">
										<div class='panel-heading'>
											<h3 class='panel-title'>Комментарии к дизайну:</h3>
										</div>
										<div class='panel-body'>
											{%for comment in comments%}
												{%if comment.comment%}
												<b>{{comment.user.first_name}}
												{{comment.user.last_name}}:</b> <br>
												{{comment.comment}} <br>
												{%endif%}
												{%if comment.design%}
												<b>{{comment.user.first_name}}
												{{comment.user.last_name}}:</b> <br> <img src="{{comment.design.url}}" width="300"><br>
												{%endif%}
											{%endfor%} <br>
										</div> 
										<div class="panel-footer">
											<form method="POST">
												{% csrf_token %}
												<div class="input-group">
													<input class="form-control" type="text" name="comment">
													<span class="input-group-btn">
														<button class="btn btn-primary" type="submit" name="add_comment"> > > > </button></span>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{%endif%}

				</div>

					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}