{% extends 'designer/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Список заказов</h3>
							<p class="panel-subtitle"><a href="/designer/orders/recently">Текущие</a> / <a href="/designer/orders/done">Завершенные</a></p>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped table-hover">
								<tr>
									<th>
									</th>
									<th>
										Доп. соглашение
									</th>
									<th>
										Клиент
									</th>
									<th>
										Статус
									</th>
									<th>
										Дата создания
									</th>
									<th>
										
									</th>
								</tr>
							{% for i in orders %}
							{%if i.status.status == "Сдан" %}
								<tr onclick="location.href='/designer/orders/edit/{{i.id}}'" style="cursor: pointer; background-color: #dcffd3;">
							{% elif i.status.status == "Дизайн" %}
								<tr onclick="location.href='/designer/orders/edit/{{i.id}}'" style="cursor: pointer; background-color: #ffdfa7;">
							{% elif i.status.status == "Логист" %}
								<tr onclick="location.href='/designer/orders/edit/{{i.id}}'" style="cursor: pointer; background-color: #cbfffc;">
							{%else%}
								<tr onclick="location.href='/designer/orders/edit/{{i.id}}'" style="cursor: pointer">
							{%endif%}
								<td class="text-center" style="padding-left: 0px; padding-right: 0px;">
									{{forloop.counter}}
								</td>
								<td>
									{{i.add_agreement}}
								</td>
								<td>
									{{i.client}}
								</td>
								<td>
									{{i.status}}
								<td>
								 	{{i.date}}
								</td>
								<td class="text-center" style="width: 20px; padding-left: 0px; padding-right: 0px;">
									{%if i.mark_client%}
									<i class="fa fa-bell-o" aria-hidden="true" style="color: #e27347;"></i>
									{%endif%}									
								</td>
							</tr>
							{% endfor %}
							</table>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}