{% extends 'manager/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-headline">
								<div class="panel-heading">
									<h3 class="panel-title">Заказ № {{order_id.id}}</h3>
									
								</div>
								<div class="panel-body">
									<form method="POST" class='text-right'>
										{{formset.management_form}}
										{% csrf_token %}
									<table class="table table-striped table-bordered table-hover">
										<tr>
											<th>
												№
											</th>
											<th>
												Позиция
											</th>
<!-- 											<th>
												Размер
											</th> -->
											<th>
												Метод нанесения
											</th>
											<th>
												Материал
											</th>
											<th>
												Комментарий
											</th>
											<th>
												Количество
											</th>
											<th>
												Цена закупки, руб.
											</th>
											<th>
												Цена, руб.
											</th>
											<th>
												Стоимость закупки, руб.
											</th>
											<th>
												Стоимость, руб.
											</th>
											
											<th>
												Предоплата, руб.
											</th>
											<th>
												Остаток, руб.
											</th>
											<th>
												Поставщик
											</th>
											<th>
												Продакшн статус
											</th>
											<th>
												
											</th>
										</tr>
										{% for i in order%}
										<tr>
											<td>
												{{ forloop.counter}}
											</td>
											<td>
												{{i.item}}
											</td>
<!-- 											<td>
												{{i.size}}
											</td> -->
											<td>
												{{i.app_method}}
											</td>
											<td>
												{{i.material}}
											</td>
											<td>
												{{i.price.info}}
											</td>
											<td>
												{{i.price.id}}
												{{i.price.quantity}}
											</td>
											<td>
												{{i.price.production_purchase_price}}
											</td>
											<td>
												{{i.price.price}}
											</td>
											<td>
												{{i.summary_entry}}
											</td>
											<td>
												{{i.summary}}
											</td>
											
											<td>
												{{i.price.pre_payment}}
											</td>
											<td>
												{{i.post_payment}}
											</td>
											<td>
												{{i.provider}}
											</td>
											<td>
												{{i.production_status}}
											</td>
											<td> 
												<a href="/manager/order/position/remove/{{order_id.id}}/{{ i.id }}">Удалить</a>
											</td>
										</tr>
										{% endfor %}
									</table>
										<button type='submit' class='btn btn-primary' name='save'>Сохранить</button>
									</form>	<br>
								<!-- <div class="text-right">
									<b>Сумма:</b> {{summary}} руб. <br> <b>Оплачено:</b> {{pre_payment}} руб. <br> <h4><b>Остаток: </b> {{post_payment}} руб. </h4>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>


					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}