{% extends 'manager/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    $(document).ready(
    function(){
        var elem = document.getElementsByClassName('chat-scroll');
        var i;
        for (i in elem) {
            elem[i].scrollTop = elem[i].scrollHeight;
        }
    });


	$(document).ready(
    function(){
       orderNumberChat({{order_id.id}}, 'order', {{user.id}});
    });
</script>
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-headline">
								<div class="panel-heading">
									<h3 class="panel-title">Заказ № {{order_id.id}}</h3>
									
								</div>
								<div class="panel-body">
										<div class="row">
											<div class="col-md-9">
												<form method="POST">
													{% csrf_token %}
												<b>Доп. соглашение №:</b>
												{{addagr_form.add_agreement}}
												<button type="submit" name="add_agr">Отправить</button>
												</form>
											</div>
											<div class="col-md-2 text-right">
												<script>
												function add_position() {
													element = document.getElementsByClassName('add-position-to-order')
													if (element[0].style.display == 'none') {
														element[0].style.display = 'block'
													} else 
														element[0].style.display = 'none';
													}
												</script>
												<button class="btn btn-success addposbutton" onclick="add_position()">Добавить позицию</button>
											</div>
											<div class="col-md-1 text-right">
												<button class="btn btn-warning" onclick="location.href='/manager/design/{{order_id.id}}'">Дизайн</button>
											</div> 
										</div> <br>
										<div class="add-position-to-order" style="display: none;">
											<hr>
							<div class="row">
								<div class="col-md-1">
									<b>Позиция: </b>
								</div>
								<div class="col-md-2">
									<b>Метод нанесения: </b>
								</div>
								<div class="col-md-1">
									<b>Материал: </b>
								</div>
								<div class="col-md-1">
									<b>Количество: </b>
								</div>
								<div class="col-md-1">
									<b>Цена: </b>
								</div>
								<div class="col-md-1">
									<b>Стоимость: </b>
								</div>
								<div class="col-md-1">
									<b>Оплачено: </b>
								</div>
								<div class="col-md-1">
									<b>Остаток: </b>
								</div>
								<div class="col-md-1">
									<b>Комментарий: </b>
								</div>
								<div class="col-md-2">
									
								</div>	
							</div> <br>
								<form method='POST'>
								<div class="row" id="summary">
									<div class="col-md-1">
										{{ add_item.item }}
									</div>
									<div class="col-md-2">
										{{ add_item.app_method }}
									</div>
									<div class="col-md-1">
										{{ add_item.material }}
									</div>
									<div class="col-md-1">
										{{ add_item.quantity }}
									</div>
									<div class="col-md-1">
										{{add_item.price}}
									</div>
									<div class="col-md-1">
										[[ calculate() ]] руб.
									</div>
									<div class="col-md-1">
										{{add_item.pre_payment}}
									</div>
									<div class="col-md-1">
										[[ calculate_post() ]] руб.
									</div>
									<div class="col-md-1">
										{{ add_item.info }}
									</div>
									<div class="col-md-2 text-right">									
											{% csrf_token %}
											<button type="submit" class="btn btn-info" name="add_position">
												<i class="fa fa-plus-square"></i> Добавить</button>
									</div>	
								</div>
								</form>
								<script type="text/javascript">
									var app = new Vue({
									  delimiters: ['[[', ']]'],
									  el: '#summary',
									  data: { 
									  	quantity: 1,
									  	price: 0,
									  	prepayment: 0,
									  },
									  methods: {
									  	calculate: function() {
									  		return this.quantity * this.price;
									  	},
									  	calculate_post: function() {
									  		return this.quantity * this.price - this.prepayment;
									  	}
									  }
									});
								</script>
								<hr>
								</div>

									<div class="table-responsive"> 
									<table class="table table-striped table-bordered table-hover">
										<tr>
											<th>
												№
											</th>
											<th>
												Позиция
											</th>
											<th>
												Метод нанесения
											</th>
											<th>
												Материал
											</th>
											<th>
												Комментарий
											</th>
											<th>
												Количество
											</th>
											<th>
												Цена закупки, руб.
											</th>
											<th>
												Цена, руб.
											</th>
											<th>
												Стоимость закупки, руб.
											</th>
											<th>
												Стоимость, руб.
											</th>
											<th>
												Прибыль, руб.
											</th>
											<th>
												Предоплата, руб.
											</th>
											<th>
												Остаток, руб.
											</th>
											<th>
												Поставщик
											</th>
											<th>
												Предоплата поставщику
											</th>
											<th>
												Дата производства
											</th>
											<th>
												Дата отправки
											</th>
											<th>
												Дата доставки
											</th>
											<th>
												Статус
											</th>
										</tr>
										{% for i in order%}
										<tr class="text-center">
											<td style="vertical-align: middle;">
												{{ forloop.counter}}
											</td>
											<td style="vertical-align: middle;">
												{{i.item}}
											</td>
<!-- 											<td>
												{{i.size}}
											</td> -->
											<td style="vertical-align: middle;">
												{{i.app_method}}
											</td>
											<td style="vertical-align: middle;">
												{{i.material}}
											</td>
											<td style="vertical-align: middle;">
												{{i.info}}
											</td>
											<td style="vertical-align: middle;">
												{{i.quantity}}
											</td>
											<td style="vertical-align: middle;">
												{{i.production_purchase_price|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.price|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.summary_entry|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.summary|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.margin|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.pre_payment|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.post_payment|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.provider}}
											</td>
											<td style="vertical-align: middle;">
												{{i.provider_pre_payment|floatformat:2}}
											</td>
											<td style="vertical-align: middle;">
												{{i.production_est_date|date:"SHORT_DATE_FORMAT"}}
											</td>
											<td style="vertical-align: middle;">
												{{i.sending_date|date:"SHORT_DATE_FORMAT"}}
											</td>
											<td style="vertical-align: middle;">
												{{i.est_date|date:"SHORT_DATE_FORMAT"}}
											</td>
											<td style="vertical-align: middle;">
												{{i.production_status}}
											</td>
										</tr>
										{% endfor %}
									</table>
									</div>
									{%if order_id.status_done == False%}
									<form method="GET" class='text-right' action="/manager/change_order/{{order_id.id}}">
										<button class='btn btn-primary'>Изменить</button>
									</form>	<br>
									{%endif%}
									<div class="row">
										<div class="col-md-6">
											<b>Мотивационная часть логиста:</b> {{logist_motivation}} руб. (2% от суммы заказа)<br>
											<b>Фактические затраты логиста:</b> {{logist_fact}} руб. <br>
											<b>Мотивационная часть дизайнера:</b> {{designer_motivation}} руб. (1% от суммы заказа)<br>
											<b>Мотивационная часть продакшн:</b> {{production_motivation|floatformat:2}} руб. <br>
										</div>
										<div class="col-md-6 text-right">
											{%if order_id.status_done == False%}
										<form method="POST">
											{% csrf_token %}
											<b>Добавочная стоимость: </b>{{adding_cost.manager_addition_cost}} 
											<button type="submit" name='adding_cost'>Отправить</button>
										</form>
										{%endif%}
									<b>Сумма: </b> {{summary}} руб. <br> 
									<b>Сумма с добавочной стоимостью: </b>{{summary_with_adding}} руб.<br>
									<b>Сумма закупки: </b> {{summary_entry}} руб.<br>
									<b>Прибыль с заказа: </b> {{order_margin}} руб.<br>
									<b>Оплачено: </b> {{pre_payment}} руб. <br> 
									<b>Остаток: </b> {{post_payment}} руб.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

                            <script>
                                function view2(divId){
                                    v = $(divId);
                                    if(v.css("display") === 'none') {
                                        v.show();
                                    }
                                    else {
                                         v.hide();
                                    }
                                    }
                            </script>


				<div class="container-fluid">
					<div class="row">
                    <div class="col-md-6 new_chat_box">
                        <div class="row">
                            <div class="col-md-12" style="padding-top: 10px;">
                                <div>
                                   <b>Чат заказа:</b>
                                </div>
                                <div class="chat_view_order chat-scroll" id="chat-log-order">
                                    {%for i in order_chat%}
                                        <div class=""><b>{{i.user.first_name}} {{i.user.last_name}}</b>:<br>
                                        {%if i.message%}
                                        {{i.message}}<br>
                                        {%endif%}
                                        {%if i.file%}
                                        <a href="{{i.file}}">{{i.file}}</a>
                                        {%endif%}</div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="chat_input_and_button" id="chat-message-input-order" type="text" style="width: 100%;"/>
                            </div>    
                            <div class="col-md-2 text-right">
                                <input class="chat_input_and_button" id="chat-message-submit-order" type="button" value=">>>"/>
                            </div>
                        </div> <br>
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading" onclick="view2('.chat_files_list')" style="cursor: pointer;">
                                            Загрузить файл для чата:
                                        </div>
                                        <div class="chat_files_list panel-body" style="display: none;">
                                            <div class="row" style="height: 100%;">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                <div class="col-md-6">
                                                    {{file_upload_form.file}} 
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <button type="submit" name="file_for_chat">Отправить</button>
                                                </div>
                                                </form>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel chat_files_list" style="display: none;">
                                        <div class="panel-heading" onclick="view2('.chat_files_list')" style="cursor: pointer;">
                                            <h4>Файлы для чата:</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                            <table class="table">
                                            {%for i in files%}
                                            {%if i.user == user%}
                                                <tr>
                                                    <td>
                                                        <a href="/chatfile/delete/{{i.id}}?next={{request.get_full_path|urlencode}}"><i style="float: left; padding-right: 10px;" class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a id="file_{{forloop.counter}}" style="float: left" href="{{i.file.url}}">{{i.file}}</a>
                                                    </td>
                                                    <td>
                                                        <div id="to_order_{{forloop.counter}}" class="ord to_chat">В заказ ></div> 
                                                    </td>
                                                </tr>
                                            {%endif%}
                                            {%endfor%}
                                            </table>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                    </div>
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Сопроводительные документы:</h3>
							</div>
							<div class="panel-body">
								{%for doc in docs%}
									<b>{{doc.title}}</b> - <a href="/doc/delete/{{doc.id}}">Удалить</a><br>
									<a href="{{doc.file.url}}">{{doc.file}}</a> <br>
									<i>{{doc.discription}}</i>
									<hr>
								{%endfor%}
							</div>
							<div class="panel-footer">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									{{order_edit.title}} <br>
									{{order_edit.discription}} <br>
									{{order_edit.file}} <br>
										<button type="submit" class="btn btn-primary" name="docs">Отправить</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>


					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}