.create-personal-padding {
	padding-bottom: 5px;
}

.addition_cost {
	width: 50%!important;
}

.chat_view_order {
	overflow-y: scroll;
	background-color: white;
	border: solid 1px #b9b8b8;
	height: 300px;
	padding: 10px;
}

.chat_view_position {
	overflow-y: scroll;
	background-color: white;
	border: solid 1px #b9b8b8;
	height: 600px;
	padding: 10px;
}

.chat_input_and_button {
	border: solid 1px #b9b8b8;
}

.new_chat_box {
	background-color: white;
	box-shadow: 0 0 5px rgba(122,122,122,0.2);;
}

.new-msg {
	background-color: #e2e2e26b;
}

.to_chat {
	float: right; 
	padding-left: 10px; 
	cursor: pointer; 
	color: green
}