{% extends 'client/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Профиль клиента</h3>
							<div class="subtitle"> <br>
										 Номер договора: {{client_profile.contract_number}}  
							</div>
						</div>
						<div class="panel-body">
							<form method="POST">
								{% csrf_token %}
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-2"><b>Компания:</b> </div>
										<div class="col-md-10">{{ client_profile.company }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Фамилия:</b> </div>
										<div class="col-md-10">{{ client_profile.surname }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Имя:</b> </div>
										<div class="col-md-10">{{ client_profile.first_name }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Отчество:</b> </div>
										<div class="col-md-10">{{ client_profile.middle_name }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Email:</b> </div>
										<div class="col-md-10">{{ client_profile_form.email }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Телефон:</b> </div>
										<div class="col-md-10">{{ client_profile_form.phone }}</div>
									</div>
									<div class="row">
										<div class="col-md-4"><b>Адрес доставки:</b> </div>
										<div class="col-md-8">{{ client_profile.delivery_address }}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12"><b>Реквизиты: </b></div>
									</div>
									<div class="row">
										<div class="col-md-12">
											
											{{ client_profile.requisites|linebreaksbr }}
											
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12"><b>Информация для бирок: </b></div>
									</div> 
									<div class="row">
										<div class="col-md-12">
											
											{{ client_profile_form.label_info }}
											
										</div>
									</div>	
								</div>
							</div> <br>
							<div class="row">
								<div class="col-md-12 text-right">
									<button type="submit" class="btn btn-success" name="save">Сохранить</button>
								</div>
							</div>
							</form>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}