{% extends 'client/base.html' %}
{% block content %}
<script type="text/javascript">
     $(document).ready(
        function(){
            edit_height = $('.edit_design1').height()
            $('.empty_design1').height(edit_height);
            edit_height = $('.edit_design2').height()
            $('.empty_design2').height(edit_height);
            edit_height = $('.edit_design3').height()
            $('.empty_design3').height(edit_height);
            edit_height = $('.edit_design4').height()
            $('.empty_design4').height(edit_height);
    });

    function view(divId){
        v = document.getElementById(divId);
        if(v.style.display === 'none') {
            v.style.display = 'block';
        }
        else {
             v.style.display = 'none';
        }

    }

    $(document).ready(
        function(){
            var elem = document.getElementsByClassName('chat-scroll');
            var i;
            console.log(elem.lenght);
            for (i in elem) {
                elem[i].scrollTop = elem[i].scrollHeight;
            }
        });

    $(document).ready(
    function(){
       positionChat({{position.id}}, 'position', {{user.id}}, "{{design_img1.picture}}", "{{design_img2.picture}}", "{{design_img3.picture}}", "{{design_img4.picture}}");
    });

</script>
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><b>{{position.item}} / {{position.material}} / {{position.app_method}}</b></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <br>

            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {%if design_img1.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №1
                                                    </div>
                                                    <form id='in_chat_img1' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img1_to_chat">
                                                        <p class="panel-subtitle" id="position_img1_to_socket" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img1.picture%}
                                                            <a href="{{design_img1.picture.url}}"><img src="{{design_img1.picture.url}}" class="img-responsive" style="max-height: 100%"></a>
                                                            {%endif%}
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    {%if design_img1.confirm%}
                                                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                                    {%else%}
                                                                    <form id='confirm_1_form' method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="confirm_1">
                                                                        <p class="panel-subtitle" onclick="document.getElementById('confirm_1_form').submit();" style="cursor: pointer; color: green;">Одобрить без правок <i class="fa fa-check" aria-hidden="true"></i></p>
                                                                    </form>
                                                                    {%endif%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design1">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12">
                                            {%if design_img2.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №2
                                                    </div>
                                                    <form id='in_chat_img2' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img2_to_chat">
                                                        <p class="panel-subtitle" id="position_img2_to_socket" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img2.picture%}
                                                            <a href="{{design_img2.picture.url}}"><img src="{{design_img2.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    {%if design_img1.confirm%}
                                                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                                    {%else%}
                                                                    <form id='confirm_2_form' method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="confirm_1">
                                                                        <p class="panel-subtitle" onclick="document.getElementById('confirm_2_form').submit();" style="cursor: pointer; color: green;">Одобрить без правок <i class="fa fa-check" aria-hidden="true"></i></p>
                                                                    </form>
                                                                    {%endif%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design2">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            {%if design_img3.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №3
                                                    </div>
                                                    <form id='in_chat_img3' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img3_to_chat">
                                                        <p class="panel-subtitle" id="position_img3_to_socket" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img3.picture%}
                                                            <a href="{{design_img3.picture.url}}"><img src="{{design_img3.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    {%if design_img3.confirm%}
                                                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                                    {%else%}
                                                                    <form id='confirm_3_form' method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="confirm_1">
                                                                        <p class="panel-subtitle" onclick="document.getElementById('confirm_3_form').submit();" style="cursor: pointer; color: green;">Одобрить без правок <i class="fa fa-check" aria-hidden="true"></i></p>
                                                                    </form>
                                                                    {%endif%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design3">
                                                <div class="panel-heading">
                                                    <div class="panel-body"></div>
                                                    <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            {%if design_img4.picture%}
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                    Дизайн №4
                                                    </div>
                                                    <form id='in_chat_img4' method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="img4_to_chat">
                                                        <p class="panel-subtitle" id="position_img4_to_socket" style="cursor: pointer;">В чат >></p>
                                                    </form>
                                                </div>
                                                <div class='panel-body'>
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            {%if design_img4.picture%}
                                                            <a href="{{design_img4.picture.url}}"><img src="{{design_img4.picture.url}}" class="img-responsive"></a>
                                                            {%endif%}
                                                            <div class="row">
                                                                <div class="col-md-12 text-right">
                                                                    {%if design_img4.confirm%}
                                                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                                                    {%else%}
                                                                    <form id='confirm_4_form' method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="confirm_1">
                                                                        <p class="panel-subtitle" onclick="document.getElementById('confirm_4_form').submit();" style="cursor: pointer; color: green;">Одобрить без правок <i class="fa fa-check" aria-hidden="true"></i></p>
                                                                    </form>
                                                                    {%endif%}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%else%}
                                            <div class="panel empty_design4">
                                                <div class="panel-heading">
                                                    <div class="panel-body">
                                                        <h3 class="text-center"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 50px;"></i></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                        </div>
                        <div class='col-md-6 new_chat_box'>
                            <div class='row'>
                                <div class="col-md-12" style="padding-top: 10px;">
                                    <div>
                                       <b>Чат позиции:</b>
                                    </div>
                                    <div class="chat_view_position chat-scroll" id="chat-log-position">
                                        {%for i in position_chat%}
                                            <div class=""><b>{{i.user.first_name}} {{i.user.last_name}}</b>:<br>
                                            {%if i.message%}{{i.message}}<br>{%endif%}
                                            {%if i.image%}
                                            <img src="{{i.image.url}}" height="500px"><br>
                                            {%endif%}
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <input class="chat_input_and_button" id="chat-message-input-position" type="text" style="width: 100%;"/>
                                </div>    
                                <div class="col-md-2 text-right">
                                    <input class="chat_input_and_button" id="chat-message-submit-position" type="button" value=">>>"/>
                                </div>
                            </div> <br>
                        </div>
                    </div>
                </div>
           </div>
                <!-- END MAIN CONTENT -->
{% endblock %}