{% extends 'client/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
					<div class="col-md-12">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Заказ № {{order_id.id}}</h3>
							
						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered text-center">
								<tr>
									<th>№</th>
									<th>Наименование</th>
									<th>Материал</th>
									<th>Количество</th>
									<th>
										Цена, руб.
									</th>
									<th>
										Стоимость, руб.
									</th>
									<th>
										Предоплата, руб.
									</th>
									<th>
										Остаток, руб.
									</th>
									<th>
										Дата готовности дизайна
									</th>
									<th>
										Дата производства
									</th>
									<th>
										Дата отправки
									</th>
									<th>
										Дата доставки
									</th>
									<th>Статус</th>
									<th></th>
								</tr>
								{%for item in order%}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{item.item}}</td>
										<td>{{item.material}}</td>
										<td>{{item.quantity}}</td>
										<td>
											{{item.price}}
										</td>
										<td>
											{{item.summary}}
										</td>
										<td>
											{{item.pre_payment}}
										</td>
										<td>
											{{item.post_payment}}
										</td>
										<td>
											{{item.designer_date}} 
										</td>
										<td>
											{{item.production_est_date}} 
										</td>
										<td>
											{{item.sending_date}} 
										</td>
										<td>
											{{item.est_date}} 
										</td>
										<td>{{item.production_status}}</td>
										<td style="text-align: center; padding-left:0px; cursor: pointer;"><a href="/client/design/{{order_id.id}}/{{item.id}}"><i class="fa fa-comments"></i> Диалог</a></td>
									</tr>
								{%endfor%}
							</table>
							<p class="text-right">Сумма: <b>{{summary}} руб. </b> </p>
							<p class="text-right">Оплачено: <b>{{pre_payment}} руб. </b> </p>
							<p class="text-right">Остаток: <b>{{post_payment}} руб. </b> </p>
						</div>
						<div class="panel-footer">
							<h3 class="text-center"></h3>
						</div>
					</div>

				
					</div>

					<!-- END OVERVIEW -->
				</div>
			</div>
		</div>

			<!-- END MAIN CONTENT -->
{% endblock %}