{% extends 'logist/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Профиль клиента</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-2"><b>Компания:</b> </div>
										<div class="col-md-10">{{ client_profile.company }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Фамилия:</b> </div>
										<div class="col-md-10">{{ client_profile.surname }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Имя:</b> </div>
										<div class="col-md-10">{{ client_profile.first_name }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Отчество:</b> </div>
										<div class="col-md-10">{{ client_profile.middle_name }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Email:</b> </div>
										<div class="col-md-10">{{ client_profile.email }}</div>
									</div>
									<div class="row">
										<div class="col-md-2"><b>Телефон:</b> </div>
										<div class="col-md-10">{{ client_profile.phone }}</div>
									</div>
									<div class="row">
										<div class="col-md-4"><b>Адрес доставки:</b> </div>
										<div class="col-md-8">{{ client_profile.delivery_address }}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12"><b>Реквизиты: </b></div>
									</div> 
									<div class="row">
										<div class="col-md-12">
											{%if client_profile.requisites%}
											{{ client_profile.requisites|linebreaksbr }}
											{%endif%}
										</div>
									</div>		
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12"><b>Информация для бирок: </b></div>
									</div> 
									<div class="row">
										<div class="col-md-12">
											{%if client_profile.label_info%}
											{{ client_profile.label_info|linebreaksbr }}
											{%endif%}
										</div>
									</div>	
								</div>
							</div> <br>
							<hr>

							<div class="row">
								<div class="col-md-6">
									<h1 class="text-center">Документы</h1>
									<div class="row">
										<div class="col-md-6">
											<b>Загрузить документ:</b>
											<form method="POST" enctype="multipart/form-data">
												{% csrf_token %}
													Название: {{docs.title}} <br>
													Описание: {{docs.discription}} <br>
													{{docs.file}} <br>
													<button type='submit' class="btn btn-default" name='add_file' value="yes">Отправить</button>
											</form> <br>
										</div> 
										<div class="col-md-6">
											{%if client_docs%}
											<b>Документы:</b> <br>
											{% for i in client_docs%}
											 {{i.title}} - <a href="/client/doc/delete/{{i.id}}?next={{request.get_full_path|urlencode}}">Удалить</a> <br>
											 {%if i.discription%}
											 <i>{{i.discription}}</i> <br>
											 {%endif%}
											 <a href="{{i.file.url}}">{{i.file|truncatechars:30}}</a> <br>
											{%endfor%}
											{%endif%}
										</div>
									</div>	
								</div>
								<div class="col-md-6">
									<h1 class="text-center">Брендбук</h1>
									<div class="row">
										<div class="col-md-6">
											<b>Загрузить документ:</b>
											<form method="POST" enctype="multipart/form-data">
												{% csrf_token %}
													Название: {{brandbook.title}} <br>
													Описание: {{brandbook.discription}} <br>
													{{brandbook.file}} <br>
													<button type='submit' class="btn btn-default" name='add_brand' value="yes">Отправить</button>
											</form> <br>
										</div> 
										<div class="col-md-6">
											{%if client_brandbook%}
											<b>Документы:</b> <br>
											{% for i in client_brandbook%}
											 {{i.title}} - <a href="/client/brand/delete/{{i.id}}?next={{request.get_full_path|urlencode}}">Удалить</a> <br>
											 {%if i.discription%}
											 <i>{{i.discription}}</i> <br>
											 {%endif%}
											 <a href="{{i.file.url}}">{{i.file|truncatechars:30}}</a> <br>
											{%endfor%}
											{%endif%}
										</div>	
									</div>
								</div>
							</div>
							<hr>

							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}