{% extends 'production/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">	
						<div class="panel-heading">
							<h3 class="panel-title"> Добавить техническое требование </h3>
						</div>
						<div class="panel-body">
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
							<div class="row">
								<div class="col-md-2">Название: </div>
								<div class="col-md-3">{{specification.name}}</div>
								<div class="col-md-7"></div>
							</div> <br>
							<div class="row">
								<div class="col-md-2">Спецификация: </div>
								<div class="col-md-3">{{specification.specification}}</div>
								<div class="col-md-7"></div>
							</div> <br>
							<div class="row">
								<div class="col-md-2">Файл: </div>
								<div class="col-md-3">{{specification.picture}}</div>
								<div class="col-md-7"></div>
							</div> <br>
							<div class="row">
								<div class="col-md-2">
								<button type="submit" class="btn btn-primary">Отправить</button>
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-7"></div>
							</div>
							</form>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}1