{% extends 'production/base.html' %}
{% block content %}
<script>
    $(document).ready(
    function(){
        var elem = document.getElementsByClassName('chat-scroll');
        var i;
        for (i in elem) {
            elem[i].scrollTop = elem[i].scrollHeight;
        }
    });


	$(document).ready(
    function(){
       orderNumberChat({{order_id.id}}, 'order', {{user.id}});
    });
</script>
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-headline">
								<div class="panel-heading">
									<h3 class="panel-title">Заказ № {{order_id.id}}</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12 text-right">
											<button class="btn btn-warning" onclick="location.href='/production/design/{{order_id.id}}'">Дизайн</button>
										</div> 
									</div> <br>
											<div class="table-responsive"> 
											<table class="table table-striped table-bordered table-hover">
												<tr>
													<th>
														№
													</th>
													<th>
														Позиция
													</th>
<!-- 													<th>
														Размер
													</th> -->
													<th>
														Метод нанесения
													</th>
													<th>
														Материал
													</th>
													<th>
														Количество
													</th>
													<th>
														Цена, руб.
													</th>
													<th>
														Цена закупки, руб.
													</th>
													<th>
														Цп - Цз руб.
													</th>
													<th>
														Стоимость, руб.
													</th>
													<th>
														Стоимость закупки, руб.
													</th>
													<th>
														Маржа, руб.
													</th>
													<th>
														Мотивация, руб.
													</th>
													<th>
														Поставщик
													</th>
													<th>
														Предоплата поставщику, руб
													</th>
													<th>
														Готовность на производстве
													</th>
													<th>
														Продакшн статус
													</th>
													<th>Тех. задание</th>
													<th>Тех. требования</th>
												</tr>
												{% for i in order%}
												<tr class="text-center">
													<td style="vertical-align: middle;">
														{{ forloop.counter}}
													</td>
													<td style="vertical-align: middle;">
														{{i.item}}
													</td>
<!-- 													<td>
														{{i.size}}
													</td> -->
													<td style="vertical-align: middle;">
														{{i.app_method}}
													</td>
													<td style="vertical-align: middle;">
														{{i.material}}
													</td>
													<td style="vertical-align: middle;">
														{{i.quantity}}
													</td>
													<td style="vertical-align: middle;">
														{{i.price|floatformat:2}} 
													</td>
													<td style="vertical-align: middle;">
														{{i.production_purchase_price|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.margin_1item|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.summary|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.summary_entry|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.margin|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.production_motivation|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.provider.title}}
													</td>
													<td style="vertical-align: middle;">
														{{i.provider_pre_payment|floatformat:2}}
													</td>
													<td style="vertical-align: middle;">
														{{i.production_est_date}}
													</td>
													<td style="vertical-align: middle;">
														{{i.production_status}}
													</td>
													
													{%if i.design_requirements_new%}
													<td style="vertical-align: middle;">
														<a href="/production/technical_task/{{i.design_requirements_new.id}}">{{i.design_requirements_new}}</a>
													</td>
													{%else%}
													<td>
														
													</td>
													{%endif%}
													{%if i.design_specification_new%}
													<td style="vertical-align: middle;">
														<a href="/production/technical_requirement/{{i.design_specification_new.id}}">{{i.design_specification_new}}</a>
													</td>
													{%else%}
													<td>
														
													</td>
													{%endif%}
												</tr>
												{% endfor %}
											</table>
											</div>
									{%if order_id.status_done == False%}
									<form method="GET" class='text-right' action="/production/orders/edit/add_provider/{{order_id.id}}">
										<button class='btn btn-primary'>Изменить</button>
									</form> <br>
									{%endif%}
									<div class="row">
										<div class="col-md-6">
											<form method="POST">
												{% csrf_token %}
												Общий статус заказа: {{prder_status_form.status}}
												<button type="submit" name='send_order_status'>Отправить</button>
											</form>
										</div>
										<div class="col-md-6 text-right">
											<b>Сумма:</b> {{summary}} руб. <br> 
											<!-- <b>Мотивация:</b> {{production_motivation}} руб. <br>  -->
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>






					<div class="row">
                                <div class="col-md-6">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4>Файлы для чата:</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                            <table class="table">
                                            {%for i in files%}
                                            {%if i.user == user%}
                                                <tr>
                                                    <td>
                                                        <a href="/chatfile/delete/{{i.id}}?next={{request.get_full_path|urlencode}}"><i style="float: left; padding-right: 10px;" class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a id="file_{{forloop.counter}}" style="float: left" href="{{i.file.url}}">{{i.file}}</a>
                                                    </td>
                                                    <td>
                                                        <div id="to_order_{{forloop.counter}}" class="ord to_chat">В заказ ></div> 
                                                    </td>
                                                </tr>
                                            {%endif%}
                                            {%endfor%}
                                            </table>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-md-6">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            Загрузить файл для чата:
                                        </div>
                                        <div class="panel-body">
                                            <div class="row" style="height: 100%;">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                <div class="col-md-6">
                                                    {{file_upload_form.file}} 
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <button>Отправить</button>
                                                </div>
                                                </form>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>
                            </div>








					<div class="row">
                    <div class="col-md-6 new_chat_box">
                        <div class="row">
                            <div class="col-md-12" style="padding-top: 10px;">
                                <div>
                                   <b>Чат заказа:</b>
                                </div>
                                <div class="chat_view_order chat-scroll" id="chat-log-order">
                                    {%for i in order_chat%}
                                        <div class=""><b>{{i.user.first_name}} {{i.user.last_name}}</b>:<br>
                                        {%if i.message%}
                                        {{i.message}}<br>
                                        {%endif%}
                                        {%if i.file%}
                                        <a href="{{i.file}}">{{i.file}}</a>
                                        {%endif%}</div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="chat_input_and_button" id="chat-message-input-order" type="text" style="width: 100%;"/>
                            </div>    
                            <div class="col-md-2 text-right">
                                <input class="chat_input_and_button" id="chat-message-submit-order" type="button" value=">>>"/>
                            </div>
                        </div> <br>
                    </div>
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Сопроводительные документы:</h3>
							</div>
							<div class="panel-body">
								{%for doc in docs%}
									<b>{{doc.title}}</b> - <a href="/doc/delete/{{doc.id}}">Удалить</a>  <br>
									<a href="{{doc.file.url}}">{{doc.file}}</a> <br>
									<i>{{doc.discription}}</i>
									<hr>
								{%endfor%}
							</div>
							<div class="panel-footer">
								<form method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									{{order_edit.title}}<br>
									{{order_edit.discription}} <br>
									{{order_edit.file}} <br>
										<button type="submit" class="btn btn-primary" name="docs">Отправить</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>


					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}