{% extends 'production/base.html' %}
{% block content %}
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">	
						<div class="panel-heading">
							<b>Техническое требование:</b> {{specification.name}}
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-1">
									<b>Описание:</b>
								</div>
								<div class="col-md-3">
									{{specification.specification}}
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-5"></div>
							</div> <br>
							<div class="row">
								<div class="col-md-2">
									<b>Прикреплённые файлы:</b>
								</div>
								<div class="col-md-3">
									{%if specification.picture%}
									<a href="{{specification.picture.url}}">{{specification.picture}}</a> <br>
									{%endif%}
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-4"></div>
								 
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
{% endblock %}